body{
    font-family: $ff-main;
    text-decoration: none;
    background-color: C4C4C4;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-space{
    display: flex;
    justify-content: space-between;
}


