.main-section {
        gap: 26px;
        margin-bottom: 111px;
        padding: 120px;
        padding-top: 42px;
        

        @include tablet {
            align-items: stretch;
            flex-direction: column-reverse;
            padding: 0px;
        }

        

    &__info{
        max-width: 471px;
        z-index: 2;
    }


    &__title {
        color: $black;
        font-family: $ff-main;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px; 
    }

    &__desc {
        color: $dark;
        font-family: $ff-main;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
        margin-bottom: 33px;
    }

    &__image {
        position: relative;
        

        img{
            border-radius: 0px 0px 0px 200px;
            position: relative;
            width: 100%;

            @include mobile{
                align-items: stretch;
            }

            @include tablet {
                position: relative;
                width: 100%;
                border-radius: 12px;
            }
        }

        &::before{
            bottom: -101px;
            right: 0px;
            position: absolute;
            content: '';
            display: block;
            width: 178px;
            height: 178px;
            border-radius: 0px 0px 100px 0px;
            background: #FFF5DB;
            @include mobile{
                display: none;
            }
        }
    
    }
}
